.title {
	font-family: 'Amaranth', sans-serif;
	font-size: 250%
}
.img-holder {

	position: relative;
}

.quote {
	position: absolute;
	width: 40%;
	bottom: 7%;
	right: 25%;
}

.quote .text p {
	font-size: 180%;
	font-family: 'Amaranth', sans-serif;
}

.img-holder img {
	opacity: 0.4;
	height: 75%;
	width: 75%;
	border: 30px solid;
	border-image:url(http://www.clker.com/cliparts/K/M/h/3/V/u/black-border-md.png) 30 30 round;
}
