.img-holder {
	background-image: url("http://pngimg.com/upload/tv_PNG474.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 850px;
	width: 850px;
	margin: 0 auto;

}

.well {
	margin: 0 auto;
}